[Unit]
Description=MQTT Archiver Collector Service
Wants=network-online.target
After=network-online.target
Requires=mqtt-archiver-storage.service
After=mqtt-archiver-storage.service

[Service]
Type=simple
ExecStart=/opt/mqtt-archiver/collector.js
SyslogIdentifier=mqtt-archiver
TimeoutStopSec=15s
KillMode=mixed
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target

